body {
    background-color: #717171
}

.navbar {
    background-color: #333
}
nav ul .nav-link:hover {
    background-color: #00adff;
}

.frame .frame-nav {
    background-color: #262626;
    box-shadow: 0 5px 10px -5px #333 inset;
}
.frame .frame-page-scroll::-webkit-scrollbar-thumb {
    background-color: #333;
}
.docs .nav-link {
    color: #333;
}

#ignoretheme {
    color: black;
}
#ignoretheme p, #ignoretheme a {
    color: black;
}

p, h1, h2, h3, h4, h4, a {
    color: white;
}
