<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-HX5QvHXoIsrUAY0tE/wG8+Wt1MwvaY28d9Zciqcj6Ob7Tw99tFPo4YUXcZw9l930" crossorigin="anonymous">
    <link rel="stylesheet" href="/x/v2.css">
</head>
<body>
    <div class="navigation">
        <div class="container">
            <div class="logo">TypicalBot</div>
            <div class="search"><i class="fas fa-search"></i> Search docs...</div>
            <div class="theme"><i class="fas fa-sun"></i></div>
        </div>
    </div>
</body>
</html>