<!DOCTYPE html>

<html>
    <head>
        <%- include("../pieces/head.ejs") %>
        <title>Home – TypicalBot</title>
    </head>
    <body>
        <%- include("../pieces/navigation.ejs") %>

        <div class="content container">
            <div class="jumbotron">
                <h1 class="display-4" id="ignoretheme">What is TypicalBot? <img src="/x/images/think.png" height=40 class="align-center"></h1>
                <hr class="my-4">
                <p class="lead" id="ignoretheme">It is a <i>typical</i> bot, of course!<i>...psych!</i></p>
                <br>
                <p class="lead" id="ignoretheme">Built upon over a year of experience, TypicalBot is the ironically-named bot that is far from typical. Stable, lightning fast, and easy to use, TypicalBot is there for you and will seamlessly help you moderate your server and offer some entertaining features for your users, every step of the way.</p>
            </div>

            <hr class="my-4">
        </div>
    </body>
</html>
