<!DOCTYPE html>

<html>
    <head>
        <%- include("./pieces/head.ejs") %>
        <title>403 – TypicalBot</title>
    </head>
    <body>
        <%- include("./pieces/navigation.ejs") %>

        <div class="content container">
            <h2 class="text" style="text-align: center;">You don't seem to have access to that page.</h2>
            <br>
            <center><img src="/x/images/noaccess.png"></center>
        </div>
    </body>
</html>
