<!DOCTYPE html>

<html>
    <head>
        <%- include("./pieces/head.ejs") %>
        <title>404 – TypicalBot</title>
    </head>
    <body>
        <%- include("./pieces/navigation.ejs") %>

        <div class="content container">
            <h2 class="text" style="text-align: center;">It seems you've found something that doesn't exist.</h2>
            <br>
            <center><img src="/x/images/notfound.jpg"></center>
        </div>
    </body>
</html>
